

.left {
  width:20%;
  
  height: 100vh;
  background: rgb(30, 34, 34);
}
.right {
  width: 80%;
  height: 100vh;
  overflow: auto;
  text-align: center;
}

.main {
  width: 100%;
  display: flex;
}